* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;

}

.nav__links a,
.btn,.btn2,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(30, 150, 142);
}

.btn {
  padding: 9px 25px;
  background-color: #39ADA6;
  font-size: medium;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.btn2 {
 
  color: #ffffff;
  border: none;
  cursor: pointer;
  
}
.btn2 a:hover {
    color: rgb(30, 150, 142);
  }
.btn2 a{
  font-style: none;
}
.btn:hover {
  background-color: #39ADA6;
}
button .btn{
  background-color: none;
}

.card{
  background-color: #ffffff;
  border: #39ADA6;
}
/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}
body{
  /* background-image: url(/images/Bg.png); */  
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(/images/Bg.png);
  background-size: cover;
  background-position: center;

}
h2{
  color: black;
  font-size: 20px;
  font-style: none;
  margin-bottom: 20px;

}
.signup_form{
  width: 330px;
  box-shadow: 0 0 3px 0 rgba(0 , 0, 0, 2) ;
  border-radius: 16px;
  background-color: white;
  padding: 20px;
  margin: 8% auto ;
  text-align: center;
  
}
.signup_btn {
  padding: 9px 25px;
  background-color: #39ADA6;
  color: #ffffff;
  font-size: medium;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-top: 15px;

}
.signin_btn {
  padding: 9px 25px;
  background-color: #39ADA6;
  color: #ffffff;
  font-size: medium;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-top: 15px;
}
.input_box{

  border-radius: 16px ;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  text-align: center;
  outline:  none ; 
  
}
hr{
  margin-top: 20px;
  width: 100%;
  border-color: #39ADA6;
}
.or{
  background-color: #fff;
  width: 30px;
  margin: -10px auto 10px;
  margin-top: 10px;
}
form a{
  text-decoration: none;
}
.content img{
  width: 70px;
  align-items: center;
  /* margin-left: 20px; */
}
.content h1{
  text-align: center;
  margin-top: 20%;
}
.hello{
  text-decoration: none;
  cursor: unset;
  color: white;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay__content{
    list-style: none;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .btn {
    display: none;
  }
  .menu {
    display: initial;
  }
  .overlay__content{
    list-style: none;
  }
}
